!!! Strict
%html
  %head
    = meta_tags
    = csrf_meta_tag
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag :application
    = yield(:head)


  %body
    #wrap
      = block 'shared/top'

      .container.container-main
        = render 'shared/flash'

        = content_for?(:content) ? yield(:content) : yield

    = block 'shared/footer'

